<div
  class="block rounded-sm border-2 border-neutral md:mr-2 mb-2 p-2 relative no-underline"
>
  <div class="flex flex-row justify-start gap-4 mb-4">
    <div class="text-2xl font-bold leading-4"><%= plugin.npm_name %></div>
    <a href="https://npmjs.com/<%=plugin.npm_name%>" target="_blank"
      ><img
        class="not-prose"
        src="https://img.shields.io/npm/d18m/<%= plugin.npm_name %>"
    /></a>
    <a href="https://npmjs.com/<%=plugin.npm_name%>" target="_blank">
      <img
        class="not-prose"
        src="https://img.shields.io/npm/v/<%= plugin.npm_name %>"
    /></a>
    <a href="https://github.com/<%=plugin.github_name%>" target="_blank">
      <img
        class="not-prose"
        src="https://img.shields.io/github/stars/<%= plugin.github_name %>"
    /></a>
  </div>
  <div><%= plugin.description %></div>
  <div class="not-prose">
    <pre><code class="language-bash">bunx add pocodex --trust
pocketbase pocodex install <%= plugin.npm_name %> --dir=pb_data
pocketbase serve --dir=pb_data</code></pre>
  </div>
</div>
